.facilityHover:hover {
    background-color: #e9ecf3;
    color: #79c5d8;
}

.facilityHover:hover img {
    filter: invert(50%) grayscale(1)
}

.facilityHover {
    padding: 10px;
}

.active img {
    filter: invert(50%) grayscale(1);
}

.active {
    background-color: #e9ecf3;
    color: #79c5d8;
}