.headerBar {
    height: calc(64px + 2vh);
    margin-top: calc(-32px + -1vh)
}

.headerBarBtn {
    background-color: #F3F3F3;
    opacity: 70%;
    color: #151617;
}

.headerBarBtn:hover {
    background-color: #242a3a;
    opacity: 100%;
    color: #F3F3F3;
}

.headerBarBtn:hover img {
    filter: invert(100%) grayscale(1);
}

.searchBtn {
    background-color: #394867;
}

.searchBtn:hover {
    background-color: #242a3a;
}

.overlayInput {
    width: 90%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #3c3b3a69;
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 12px;
}

.overlayInput:focus {
    outline: none;
    border-bottom: 1px solid #373636;
}